<div class="outline">
  <div class="commen">
    <button type="button" [style]="{ 'background-color': '#C8B10B', 'color': '#FFFFFF' }" class="btn"
      (click)="sendMail()">
      <i class="fas fa-recycle"></i>Send Mail
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>

        <div class="kt-portlet__head-toolbar">
          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 100vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>
                  <th style="cursor: pointer; width:5%" title="Select Member">
                    <input type="checkbox" name="" id="all" (change)="checkAll($event)">
                  </th>
                  <th style="cursor: pointer;width:10%">#si</th>
                  <th style="cursor: pointer;width:10%" title="Member Name">
                    Member Name </th>
                  <th style="cursor: pointer; width:25%" title="Profile ID">
                    Profile ID </th>
                  <th style="cursor: pointer; width:25%" title="Created At">
                    Created At
                  </th>
                  <th style="cursor: pointer;" title="Age"> Age </th>
                  <th style="cursor: pointer;" title="Gender"> Gender </th>
                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> Profile Status
                  </th>
                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> Delete Status
                  </th>
                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> User Privacy States
                  </th>
                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> Complit Status
                  </th>

                  <!-- class="fixed-column" -->
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let data of tableData | fillter:['user_fname','user_id','user_email','auth_phone_no']:filterText ; index as i">
                  <tr>
                    <td class="text-center">
                      <input type="checkbox" class="check" [value]="data?.user_id"
                        (change)="getId(data?.user_email,$event)" name="" id="">
                    </td>
                    <td>{{ i+1 }}</td>
                    <td [title]="data?.user_fname+' '+data?.user_lname"> {{data?.user_fname+'
                      '+data?.user_lname }}</td>
                    <td [title]="data?.user_id">
                      <div> {{data?.user_id || data?.user_ID}} </div>
                    </td>
                    <td title="Due In 9 Days ">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel">
                        {{data.user_creation_date_time | date:'medium'}}
                      </div>
                    </td>
                    <td [title]="data.user_age ">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel">
                        {{data.user_age }} Years
                      </div>
                    </td>
                    <td [title]="data.user_gender">
                      <!-- <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel"> -->
                      {{data.user_gender |uppercase}}
                      <!-- </div> -->
                    </td>
                    <td title="Ready for Professional Open">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel" *ngIf="data.status == 1">
                        Publish
                      </div>
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel" *ngIf="data.status == 0">
                        Un Publish
                      </div>
                    </td>
                    <td title="Ready for Professional Open">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel" *ngIf="data.deleted == 1">
                        Not Deleted
                      </div>
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel" *ngIf="data.deleted == 0">
                        Deleted
                      </div>
                    </td>
                    <td title="Ready for Professional Open">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel"
                        *ngIf="data.user_privacy == 'public'"> Public
                      </div>
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel"
                        *ngIf="data.user_privacy == 'private'"> Private
                      </div>
                    </td>

                    <td title="Ready for Professional Open">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel"
                        *ngIf="data.user_all_table_complited == 1 "> Complited
                      </div>
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel"
                        *ngIf="data.user_all_table_complited == 0"> Not Complited
                      </div>
                    </td>


                  </tr>
                </ng-container>


              </tbody>
            </table>
          </div>

        </div>

      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalDataCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
