<div class="main-pane p-0">
    <div class="container-fluid content-wrapper p-0">
        <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card curser-pointer">
                <div class="card" (click)="loadAuthData('active')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{activeAuthUserCount}}</h3>
                                    <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success ">
                                    <i class="fa-solid fa-users"></i>
                                    <!-- <span class="mdi mdi-arrow-top-right icon-item"></span> -->
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Active Members Credential</h6>
                        <ng-container *ngIf="activeAuthUserClick">
                            <mat-progress-bar mode="indeterminate" [color]="'accent'"></mat-progress-bar>
                        </ng-container>
                    </div>
                </div>
            </div>
          
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card curser-pointer">
                <div class="card" (click)="loadAuthData('inactive')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{inactiveAuthUserCount}}</h3>
                                    <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> -->
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-warning">
                                    <i class="fa-solid fa-users" style="color: #f91f06;"></i>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Inactive Members Credential</h6>
                        <ng-container *ngIf="inactiveAuthUserClick">
                            <mat-progress-bar mode="indeterminate" [color]="'accent'"></mat-progress-bar>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card curser-pointer">
                <div class="card" (click)="loadAuthData('All')">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{allAuthUserCount}}</h3>
                                    <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success ">
                                    <i class="fa-solid fa-users" style="color: #005af5;"></i>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Total Members Credential</h6>
                        <ng-container *ngIf="allAuthUserClick">
                            <mat-progress-bar mode="indeterminate" [color]="'accent'"></mat-progress-bar>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="table-holder">
            <div class="caption-header">
                <div class="caption-item">
                    <i class="fa-solid fa-chart-simple me-2 text-primary fs-5"></i>
                    <span class="fs-5">Showing {{authDataList.length}} of {{authDataList.length}} results</span>
                </div>
                <div class="caption-item">
                    <div class="search">
                        <input type="text" [(ngModel)]="filterText" placeholder="Filter by any column"  />
                        <div class="symbol">
                          <svg class="cloud">
                            <use xlink:href="#cloud" />
                          </svg>
                          <svg class="lens">
                            <use xlink:href="#lens" />
                          </svg>
                        </div>
                      </div>
                        
                      <!-- SVG -->
                      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="cloud">
                          <path d="M31.714,25.543c3.335-2.17,4.27-6.612,2.084-9.922c-1.247-1.884-3.31-3.077-5.575-3.223h-0.021
                          C27.148,6.68,21.624,2.89,15.862,3.931c-3.308,0.597-6.134,2.715-7.618,5.708c-4.763,0.2-8.46,4.194-8.257,8.919
                          c0.202,4.726,4.227,8.392,8.991,8.192h4.873h13.934C27.784,26.751,30.252,26.54,31.714,25.543z" />
                        </symbol>
                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="lens">
                          <path d="M15.656,13.692l-3.257-3.229c2.087-3.079,1.261-7.252-1.845-9.321c-3.106-2.068-7.315-1.25-9.402,1.83
                          s-1.261,7.252,1.845,9.32c1.123,0.748,2.446,1.146,3.799,1.142c1.273-0.016,2.515-0.39,3.583-1.076l3.257,3.229
                          c0.531,0.541,1.404,0.553,1.95,0.025c0.009-0.008,0.018-0.017,0.026-0.025C16.112,15.059,16.131,14.242,15.656,13.692z M2.845,6.631
                          c0.023-2.188,1.832-3.942,4.039-3.918c2.206,0.024,3.976,1.816,3.951,4.004c-0.023,2.171-1.805,3.918-3.995,3.918
                          C4.622,10.623,2.833,8.831,2.845,6.631L2.845,6.631z" />
                        </symbol>
                      </svg>  
                    
                </div>
            </div>
            <div class="mt-3 data-view-container">
               
                <ng-container>
                    <table class="table">
                        <thead class="table-header">
                            <tr>
                                <th>Auth ID</th>
                                <th>Name</th>
                                <th>Emil</th>
                                
                                <th>Created At</th>
                                <th>Status</th>
                                <th>Auth Type</th>
                                <th>Phone</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody class="table-body table-striped ">
                            <ng-container *ngFor="let data of authDataList | fillter:['auth_ID','auth_name','auth_email','auth_phone_no']:filterText">
                                <tr>
                                    <td>{{data.auth_ID}}</td>
                                    <td>{{data.auth_name}}</td>
                                    <td>{{data.auth_email}}</td>
                                    
                                    <td>{{data.created_date |date :"fullDate"}}</td>
                                    <td> <button mat-raised-button [color]="data.account_status=='active'?'primary':'accent'">{{data.account_status || "Not Availble"}}</button></td>
                                    <td>{{data.acount_type || "Not Availble"}}</td>
                                    <td>{{data.auth_phone_no}}</td>
                                    <td style="text-align: center;">
                                        <button pButton pRipple icon="pi pi-eye" pTooltip="Expand"
                                            class="p-button-rounded p-button-Primary p-button-sm m-1"
                                            ></button>
                                        <button pButton pRipple icon="pi pi-times" pTooltip="Delete"
                                            class="p-button-rounded p-button-danger p-button-sm m-1" ></button>
                                
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="authDataList.length == 0">
                                <p class="text-center p-4 text-danger">
                                  No Data Availble
                                </p>
                            </ng-container>
                            
                        </tbody>
                       
                    </table>
                </ng-container>

            </div>
        </div>
    </div>

</div>