.card {
  cursor: pointer;
  color: #fff;
  background-color: #1b2124;
}
// .banner-container {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 18px;

//   .banner-item {
//     background: #fff;
//     display: flex;
//     flex-direction: column;
//     width: 350px;
//     cursor: pointer;
//     margin: 10px;
//     border-radius: 5px;
//     // border-bottom: 3px solid red;
//     box-shadow: 0.063rem 0 1.25rem 0 #c1c3c5;
//     // border-radius: 14px;

//     .count-banner {
//       display: flex;
//       justify-content: space-between;
//       font-weight: 600;
//       font-size: 1.8rem;
//       color: #0abb87;
//     }

//     .taitel {
//       font-size: 1.4rem;
//       color: #0abb87;
//     }

//     .active {
//       height: 25px;
//       width: 25px;
//       background-color: rgb(51, 146, 183);
//       border-radius: 50%;
//       display: inline-block;
//     }
//   }
// }

