<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Prefix Id</h4>
            <form class="" [formGroup]="prifixgroup">
                <div class="flex">
                    <input type="text" class="" id="inlineFormInputName2" formControlName="prefix_id_name"
                        placeholder="Prefix Id">
                </div>
                <div class="form-check mx-sm-2">
                </div>
                <div class="flex">
                    <button type="submit" (click)="addCountry()" class="btn btn-primary mb-2">Submit</button>
                    <button type="submit" (click)="reset()" class="btn btn-primary mb-2">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>