<div class="modal-header">
  <h4 class="modal-title text-muted " id="modal-title">Filter Records</h4>
  <button type="button" class="btn-close" aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">

  <!-- <div> -->
  <form [formGroup]="partnerPreferenceForm" class="w-100">
    <div class="row mb-3">
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Member ID</label>
        <input type="text" pInputText [style]="{ width: '100%' }" formControlName="user_id" />
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Gender</label>
        <p-multiSelect [options]="[{name:'male'},{name:'female'}]" placeholder="Select" formControlName="user_gender"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_gender"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Religion</label>
        <p-multiSelect [options]="religionOptions" placeholder="Select" formControlName="user_religion"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_religion"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Caste</label>
        <p-multiSelect [options]="religionCasteOptions" placeholder="Select" formControlName="user_religion"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_caste"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Marital Status</label>
        <p-multiSelect [options]="maritalOptions" placeholder="Select" formControlName="user_marital_status"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_marital_status"></p-multiSelect>

      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Country Living In</label>

        <p-multiSelect [options]="countryOption" placeholder="Select" formControlName="user_country" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_country"
          (onChange)="getstatefilter(partnerPreferenceForm.value.user_country)"
          (onRemove)="getstatefilter(partnerPreferenceForm.value.user_country)"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">
          State Living In</label>
        <p-multiSelect [options]="stateOption" placeholder="Select" formControlName="user_state" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip" [title]="partnerPreferenceForm.value.user_state"
          (onChange)="getcityfilter(partnerPreferenceForm.value.user_state)"
          (onRemove)="getcityfilter(partnerPreferenceForm.value.user_state)"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">City Living In</label>
        <p-multiSelect [options]="cityOption" placeholder="Select" formControlName="user_city" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_city"></p-multiSelect>
      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Min Height</label>
        <p-dropdown [options]="heightOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
          placeholder="Select" [style]="{ width: '100%' }" formControlName="user_min_height" optionValue="name">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value">
              <div>
                {{
                partnerPreferenceForm.value
                .user_min_height | formatdropdown
                }}
              </div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="country-item">
              <div>
                {{ item.name }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Max Height</label>
        <p-dropdown [options]="heightOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
          placeholder="Select" [style]="{ width: '100%' }" formControlName="user_max_height" optionValue="name">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value">
              <div>
                {{
                partnerPreferenceForm.value
                .user_max_height | formatdropdown
                }}
              </div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="country-item">
              <div>
                {{ item.name }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Mother Tounge</label>
        <p-multiSelect [options]="motherTounghOptions" placeholder="Select" formControlName="user_mother_toungh"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_mother_toungh"></p-multiSelect>
      </div>


      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Occupation</label>
        <p-multiSelect [options]="ocupationOptions" placeholder="Select" formControlName="user_occupation"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_occupation"></p-multiSelect>

      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Employed In</label>
        <p-multiSelect [options]="employeeInOptions" placeholder="Select" formControlName="user_employed_In"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_employed_In"></p-multiSelect>

      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Min Annual Income</label>
        <p-dropdown [options]="anualIncomeOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
          placeholder="Min Annual Income" [style]="{ width: '100%' }" formControlName="user_min_anual_income"
          optionValue="name">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value">
              <div>
                {{
                partnerPreferenceForm.value
                .user_min_anual_income | formatdropdown
                }}
              </div>
            </div>
          </ng-template>
          <ng-template let-anualincome pTemplate="item">
            <div class="country-item">
              <div>
                {{ anualincome.name | currency : "INR" }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>



      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Max Annual Income</label>
        <p-dropdown [options]="anualIncomeOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
          placeholder="Max Annual Income" [style]="{ width: '100%' }" formControlName="user_max_anual_income"
          optionValue="name">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value">
              <div>
                {{
                partnerPreferenceForm.value
                .user_max_anual_income | formatdropdown
                }}
              </div>
            </div>
          </ng-template>
          <ng-template let-anualincome pTemplate="item">
            <div class="country-item">
              <div>
                {{ anualincome.name | currency : "INR" }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Zodiacs</label>
        <p-multiSelect [options]="zodiacsOptions" placeholder="Select" formControlName="user_zodiacs"
          optionLabel="display" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_zodiacs"></p-multiSelect>

      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Nakshatra</label>
        <p-multiSelect [options]="nakshatraOptions" placeholder="Select" formControlName="user_nakshatra"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_nakshatra"></p-multiSelect>

      </div>

      <div class="form-group col-md-3">
        <label class="mb-3 text-muted fw-bold">Gotra</label>
        <p-multiSelect [options]="gotraOptions" placeholder="Select" formControlName="user_gotra" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="partnerPreferenceForm.value.user_gotra"></p-multiSelect>
      </div>
    </div>
  </form>
  <!-- </div> -->

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-lg" (click)="modal.dismiss('cancel click')">Close</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="getSelection()">Search</button>
</div>
