<div class="modal-header">
  <h4 class="modal-title text-muted " id="modal-title">Filter Records</h4>
  <button type="button" class="btn-close" aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">


  <form [formGroup]="fillterForm" class="w-100">
    <div class="row mb-3">
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Member ID</label>
        <input type="text" pInputText [style]="{ width: '100%' }" formControlName="user_id" />
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Min Age</label>
        <p-dropdown [options]="ageOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false"
          placeholder="Select" [style]="{ width: '100%' }" formControlName="user_min_age" optionValue="name">
          <ng-template let-item pTemplate="item">
            <div class="country-item">
              <div>
                {{ item.name }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <!-- <input type="number" pInputText [style]="{ width: '100%' }" formControlName="user_min_age" /> -->
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Max Age</label>
        <p-dropdown [options]="ageOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false"
          placeholder="Select" [style]="{ width: '100%' }" formControlName="user_max_age" optionValue="name">
          <ng-template let-item pTemplate="item">
            <div class="country-item">
              <div>
                {{ item.name }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <!-- <input type="number" pInputText [style]="{ width: '100%' }" formControlName="user_max_age" /> -->
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Body Type</label>
        <p-multiSelect [options]="bodyTpeOptions" placeholder="Select" formControlName="user_body_type"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_body_type"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Body Complex</label>
        <p-multiSelect [options]="physicalStatusOptions" placeholder="Select" formControlName="user_physical_status"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_physical_status"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Gender</label>
        <p-multiSelect [options]="[{name:'Male'},{name:'Female'}]" placeholder="Select" formControlName="user_gender"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_gender"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Religion</label>
        <p-multiSelect [options]="religionOptions" placeholder="Select" formControlName="user_religion"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_religion"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Caste</label>
        <p-multiSelect [options]="religionCasteOptions" placeholder="Select" formControlName="user_caste"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_caste"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Marital Status</label>
        <p-multiSelect [options]="maritalOptions" placeholder="Select" formControlName="user_marital_status"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_marital_status"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Country Living In</label>

        <p-multiSelect [options]="countryOption" placeholder="Select" formControlName="user_country" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip" [title]="fillterForm.value.user_country"
          (onChange)="getstatefilter(fillterForm.value.user_country)"
          (onRemove)="getstatefilter(fillterForm.value.user_country)"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">
          State Living In</label>
        <p-multiSelect [options]="stateOption" placeholder="Select" formControlName="user_state" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip" [title]="fillterForm.value.user_state"
          (onChange)="getcityfilter(fillterForm.value.user_state)"
          (onRemove)="getcityfilter(fillterForm.value.user_state)"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">City Living In</label>
        <p-multiSelect [options]="cityOption" placeholder="Select" formControlName="user_city" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_city"></p-multiSelect>
      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Min Height</label>
        <p-dropdown [options]="heightOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false"
          placeholder="Select" [style]="{ width: '100%' }" formControlName="user_min_height" optionValue="value">
          <ng-template let-item pTemplate="item">
            <div class="country-item">
              <div>
                {{ item.name }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <!-- <input type="number" pInputText [style]="{ width: '100%' }" formControlName="user_min_height" /> -->
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Max Height</label>
        <p-dropdown [options]="heightOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false"
          placeholder="Select" [style]="{ width: '100%' }" formControlName="user_max_height" optionValue="value">
          <ng-template let-item pTemplate="item">
            <div class="country-item">
              <div>
                {{ item.name }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <!-- <input type="number" pInputText [style]="{ width: '100%' }" formControlName="user_max_height" /> -->
      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Mother Tounge</label>
        <p-multiSelect [options]="motherTounghOptions" placeholder="Select" formControlName="user_mother_toungh"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_mother_toungh"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Qualification</label>
        <p-multiSelect [options]="aducationalOptions" placeholder="Select" formControlName="user_highest_education"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_highest_education"></p-multiSelect>

      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Occupation</label>
        <p-multiSelect [options]="ocupationOptions" placeholder="Select" formControlName="user_occupation"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_occupation"></p-multiSelect>

      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Employed In</label>
        <p-multiSelect [options]="employeeInOptions" placeholder="Select" formControlName="user_employed_In"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_employed_In"></p-multiSelect>

      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Designation</label>
        <p-multiSelect [options]="degOptions" placeholder="Select" formControlName="user_deg"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_employed_In"></p-multiSelect>

      </div>


      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Min Annual Income</label>

        <p-dropdown [options]="anualIncomeOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
          placeholder="Min Annual Income" [style]="{ width: '100%' }" formControlName="user_min_anual_income"
          optionValue="value" [ngModel]="anualIncomeOptions[0]?.value">
          <ng-template let-anualincome pTemplate="item">
            <div class="country-item">
              <div>
                {{ anualincome.name  }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>

        <!-- <input type="number" pInputText [style]="{ width: '100%' }" formControlName="user_min_anual_income" /> -->
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Max Annual Income</label>
        <p-dropdown [options]="anualIncomeOptions" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
          placeholder="Min Annual Income" [style]="{ width: '100%' }" formControlName="user_max_anual_income"
          optionValue="value" [ngModel]="anualIncomeOptions[anualIncomeOptions?.length-1]?.value">
          <ng-template let-anualincome pTemplate="item">
            <div class="country-item">
              <div>
                {{ anualincome.name  }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <!-- <input type="number" pInputText [style]="{ width: '100%' }" formControlName="user_max_anual_income" /> -->
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Mangalik</label>



        <p-dropdown [options]="[{name:'Yes'},{name:'No'}]" optionLabel="name" [filter]="false" filterBy="name" [showClear]="true"
        placeholder="Mangalik" [style]="{ width: '100%' }" formControlName="user_mangalik"
        optionValue="name" >
        <ng-template let-item pTemplate="item">
          <div class="country-item">
            <div>
              {{ item.name  }}
            </div>
          </div>
        </ng-template>
      </p-dropdown>
        <!-- <p-multiSelect [options]="[{name:'Yes'},{name:'No'}]" placeholder="Select" formControlName="user_mangalik"
        optionLabel="name" optionValue="name" [style]="{ 'width': '100%' }" [panelStyle]="{'max-height': '200px'}"></p-multiSelect> -->

      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Colour</label>
        <p-multiSelect [options]="colour" placeholder="Select" formControlName="user_complextion"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_complextion"></p-multiSelect>

      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Zodiacs</label>
        <p-multiSelect [options]="zodiacsOptions" placeholder="Select" formControlName="user_zodiacs"
          optionLabel="display" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_zodiacs"></p-multiSelect>

      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Nakshatra</label>
        <p-multiSelect [options]="nakshatraOptions" placeholder="Select" formControlName="user_nakhyatra"
          optionLabel="name" optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_nakhyatra"></p-multiSelect>

      </div>

      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Gotra</label>
        <p-multiSelect [options]="gotraOptions" placeholder="Select" formControlName="user_gotra" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_gotra"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Famile Value</label>
        <p-multiSelect [options]="familyvalueOptions" placeholder="Select" formControlName="user_family_value" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_gotra"></p-multiSelect>
      </div>
      <div class="form-group col-md-4">
        <label class="mb-3 text-muted fw-bold">Famile Status</label>
        <p-multiSelect [options]="familystatusOptions" placeholder="Select" formControlName="user_family_status" optionLabel="name"
          optionValue="name" [style]="{ width: '100%' }" display="chip"
          [title]="fillterForm.value.user_gotra"></p-multiSelect>
      </div>
    </div>
  </form>


</div>

<div class="modal-footer">
  <!-- <button type="button" class="btn btn-danger " (click)="modal.dismiss('cancel click')">Close</button> -->
  <button type="button" class="btn btn-primary btn-lg " [disabled]="!fillterForm.valid" (click)="getSelection()"><i
      class="fa-solid fa-magnifying-glass"></i> &nbsp;Search</button>
</div>
