<nav class="sidebar sidebar-offcanvas" id="sidebar" style="height: 100%;">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" routerLink="/"><span class="fw-bold text-light"
                style="font-weight: bold !important;">Patarbibaha</span></a>
        <a class="sidebar-brand brand-logo-mini" routerLink="/"><span class="fw-bold text-light"
                style="font-weight: bold !important;">P</span></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name text-light">
                        <h5 class="mb-0 fw-600">Admin User</h5>
                        <!-- <span>Gold Member</span> -->
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                    aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                        </div>
                    </a>
                    <!-- <a routerLink="/subadmincreate" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Create User</p>
                        </div>
                    </a> -->
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/subadmincreate" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Create User</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/senderid" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Chat view</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" routerLink="landing-page">
                <span class="menu-icon">
                    <i class="mdi mdi-airplane-landing"></i>
                </span>
                <span class="menu-title">Landing Page</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" routerLink="dashboard">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <!-- <li class="nav-item menu-items">
            <a class="nav-link" routerLink="alluserdata">
                <span class="menu-icon">
                    <i class="mdi mdi-airplane-landing"></i>
                </span>
                <span class="menu-title">All User Data</span>
            </a>
        </li> -->
        <!-- <li class="nav-item menu-items">
            <a class="nav-link" routerLink="match-makng-page">
                <span class="menu-icon">
                    <i class="mdi mdi-airplane-landing"></i>
                </span>
                <span class="menu-title">Match Making</span>
            </a>
        </li> -->
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">All User Data</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/create_user">Create User</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/alluserdata">All Members</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/addtopaid">Active To Paid</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/upgrade">Upgrade User Plan</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/spotlight">Spotlight Area</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/login-activity">Login Activity</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/like-activity">Like profile</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/ignore-activity">Ignore profile</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/expire-member">Expire Members</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/match-makng-page">Match Making</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/filter">User Filter</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/phone-validation">Phone Validation
                      <span style="color: red;"> ({{phoneapprovedata}})</span>
                    </a>
                    </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/email-validation">Email Validation</a></li>

                </ul>
            </div>
        </li>
        <!-- <li class="nav-item menu-items">
            <a class="nav-link" routerLink="expire-member">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Expire Member</span>
            </a>
        </li> -->


        <!-- <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="fa-solid fa-crown"></i>
                </span>
                <span class="menu-title">Members</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Add Member</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">All Member</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="fa-solid fa-crown"></i>
                </span>
                <span class="menu-title">Membership Plan</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
        </li> -->
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="fa-solid fa-crown"></i>
                </span>
                <span class="menu-title">Membership Plan</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/viweplan-page">View Plan</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/addplan-page">Add Plan</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Management</span>
                <i class="menu-arrow"></i>
            </a>

            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/socialmedia-page">Social Media</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/country-page">Country</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/state-page">State</a> </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/city-page">City</a> </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/zodiacs-page">Zodiacs</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/nakshatra-page">Nakshatra</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/annualincome-page">Annualincome</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/mother-tongue-page">Mother Tongue</a>
                    </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/employedin-page">Employed In</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/occupation-page">Occupation</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/aditional-education-page">Aditional
                            Eeducation</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/education-page">Highest Education</a>
                    </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/religion-page">Religion</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/cast-page">Cast</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/subcast-page">Sub Cast</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/gotra-page">Gotra</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/type-page">Type</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/designation">designation</a></li>

                </ul>
            </div>
        </li>
        <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <span class="menu-icon">
                    <i class="mdi mdi-chart-bar"></i>
                </span>
                <span class="menu-title">UI-Interface</span>
            </a>
        </li> -->
        <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="pages/icons/mdi.html">
                <span class="menu-icon">
                    <i class="mdi mdi-contacts"></i>
                </span>
                <span class="menu-title">Icons</span>
            </a>
        </li> -->
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">UI-Interface</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/privacypolicy-page">Privacy Policy</a>
                    </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/termandcondition-page">Term and
                            Condition</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/aboutus-page">About Us</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/contactus-page">Contact Us</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/prifixid-page">Prifix Id</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/logo-page">Logo Image</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/banner-page">Banner Image</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/water-page">Water Mark</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/barcode-page">Bar Code</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/home-content">Home Page Content</a></li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/home-icon">Home Icon</a></li>


                </ul>
            </div>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth1" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Approval Notice</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth1">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/approve/userapprove-page">User
                            Approve<span style="color: red;"> ({{usercount}})</span> </a>
                    </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/approve/profileimagepprove-page">Profile
                            Image Approve<span style="color: red;"> ({{profilephotocount}})</span> </a>
                    </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/approve/deleterequest-page">Delete Request<span style="color: red;"> ({{ deliteeeqest }})</span> </a>
                </li>


                </ul>
            </div>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" routerLink="/chating">
                <span class="menu-icon">
                    <i class="mdi mdi-file-document-box"></i>
                </span>
                <span class="menu-title">Chatting Massage</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#authcoup" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Coupon Code</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="authcoup">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/deatils-page">Deatils</a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" routerLink="userpasswordchange">
                <span class="menu-icon">
                    <i class="mdi mdi-airplane-landing"></i>
                </span>
                <span class="menu-title">Change password</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" routerLink="sales-report">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Sales Report</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#authcoupu" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Event Menagement</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="authcoupu">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/login-event">Login Enent</a>
                    </li>
                    <li class="nav-item m-1"> <a class="nav-link" routerLink="/home-event">Home page Event</a>
                    </li>

                </ul>
            </div>
        </li>
    </ul>

</nav>
