<nav class="sidebar sidebar-offcanvas " id="sidebar" style="height: 100%;" [ngClass]="!isSidenavCoolapedForSmallScreen?'active':''">
    <div class="text-center sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo " routerLink="/"><span class="fw-bold"
                style="font-weight: bold !important;">Patarbibaha</span></a>
        <a class="sidebar-brand brand-logo-mini" routerLink="/"><span class="fw-bold"
                style="font-weight: bold !important;">P</span></a>
    </div>

    <ul class="nav" id="sidescollBar">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name ">
                        <h5 class="mb-0 fw-600">Admin User</h5>
                        <!-- <span>Gold Member</span> -->
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                    aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                        </div>
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/subadmincreate" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Create User</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/chat" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Chat view</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items" *ngFor="let navmenu of navConfig,let i=index">

            <ng-container *ngIf="navmenu.requiredRouterLink">
                <a class="nav-link" [routerLink]="navmenu.requiredRouterLink?[navmenu.routerLink]:[]" (click)="activeSubmenu(i)">
                    <span class="menu-icon">
                        <i [class]="navmenu.icon"></i>
                    </span>
                    <span class="menu-title">{{navmenu.text}}</span>
                </a>
            </ng-container>
            <ng-container *ngIf="!navmenu.requiredRouterLink">
                <a class="nav-link"  (click)="activeSubmenu(i)"
                    [ngClass]="navmenu['submenu'] && navmenu.submenuActive?'collapse':''">
                    <span class="menu-icon">
                        <i [class]="navmenu.icon"></i>
                    </span>
                    <span class="menu-title">{{navmenu.text}}</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" [id]="'nav-ui-'+i"
                    [ngClass]="navmenu['submenu'] && navmenu.submenuActive?'show':'hide'">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item m-1 " routerLinkActive="active" *ngFor="let submenu of navmenu['submenu']">
                            <a class="nav-link" [routerLink]="[submenu.routerLink]">{{submenu.text}}</a>
                        </li>
                    </ul>
                </div>
            </ng-container>



        </li>
    </ul>

</nav>