<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                <h4 class="card-title mb-3">Privacy Policy</h4>
                <button type="submit" (click)="public()" class="btn btn-outline-danger btn-lg mb-3 w-100">Public</button>

            <form class="forms-sample" [formGroup]="privacyPolicyForm">
                <div class="form-group">
                    <p-editor formControlName="privacy_policy_content"  [style]="{ height: '620px' }"></p-editor>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="row">

    <div class="col-lg grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Basic Table</h4>
                <p class="card-description"> Add class <code>.table</code>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="">
                                </th>
                                <th>#SI</th>
                                <th>Privacy Policy</th>
                                <th>Created in</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Deleted</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let countryalldatahtml of allData ; index as i">
                                <th>
                                    <input type="checkbox" class="">
                                </th>
                                <td>{{i+1}}</td>
                                <td>{{ countryalldatahtml.privacy_policy_content }}</td>
                                <td>{{ countryalldatahtml.privacy_policy_created_time }}</td>
                                <td>
                                    <p class="badge badge-danger" *ngIf="countryalldatahtml.status == 0">
                                        NOT PUBLISHED
                                    </p>
                                    <p class="badge badge-success" *ngIf="countryalldatahtml.status == 1">PUBLISHED</p>
                                </td>
                                <td>
                                    <button type="submit" (click)="update(countryalldatahtml.id)"
                                        class="btn btn-primary mb-2">Edit</button>
                                </td>
                                <td>
                                    <p class="badge badge-danger" *ngIf="countryalldatahtml.deleted == 0">
                                        DELETED
                                    </p>
                                    <p class="badge badge-success" *ngIf="countryalldatahtml.deleted == 1">
                                        PRESENT
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div> -->


