





<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
      <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
          <div class="table-caption-holder">
              <div class="dropdown-container">
                  <select id="dropdown" (change)="changepaginetdata($event)">
                      <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                  </select>
              </div>

              <div class="kt-portlet__head-toolbar">


                  <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
                      (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
              </div>
          </div>
          <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y"
              id="grid_scroll_body" style="max-height: 75vh; position: relative;">
              <div class="inbox-body inbox-body-table">
                  <div class="table-scroll">
                      <table class="custom-table table  table-bordered table-striped">
                          <thead class="flip-content">
                              <tr>

                                <th style="cursor: pointer;width:1%">#SI</th>
                                <th style="cursor: pointer;width:25%">User Name</th>
                                <th style="cursor: pointer;width:25%">User Id</th>
                                <th style="cursor: pointer;width:25%">Phone Number</th>
                                <th style="cursor: pointer;width:25%">Action</th>


                              </tr>
                          </thead>
                          <tbody class="table-body table-striped">
                            <tr *ngFor="let data of finaldata | fillter:['created_At']:filterText ; index as i" [class]="data.phone_no_request == 0 ? '':'colorforbg'">

                                <td>{{i+1}}</td>
                                <td>
                                  <a (click)="userpage(data?.user_id)" class="underline" href="javascript:void(0);">
                                    {{data?.user_fname+' '+data?.user_lname }}
                                </a>
                                </td>
                                <td>
                                    {{data?.user_id}}
                                </td>
                                <td> {{data?.auth_phone_no}}</td>
                                <td>
                                    <!-- <button type="button" [class]="data.status == 0 ? 'btn btn-outline-success btn-fw me-2 w-50' : 'btn btn-outline-warning btn-fw me-2 w-50'"
                                        (click)="publish(data.id,data.status)"> {{ data.status == 0 ? 'PUBLISHED' : 'UNPUBLISHED' }} </button> -->
                                    <button type="button" (click)="approve(data.id)" class="btn btn-outline-success btn-fw w-50">Approve</button>


                                </td>
                            </tr>
                        </tbody>
                      </table>
                  </div>

              </div>

          </div>
          <div class="table-footer-holder">
              <div>
                  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
                      [ellipses]="false" [boundaryLinks]="false" class=""
                      (pageChange)="onpageChnage()"></ngb-pagination>
              </div>
              <div>
                  <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
                      {{offset}} to {{totalFetchrecord}} of
                      {{totalDataCount}}</span>
              </div>

          </div>
      </div>
  </div>
</div>
