<div class="mb-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Religion</h4>
            <!-- <p class="card-description"> Use the <code>.form-inline</code> class to display a series of labels, form
                controls, and buttons on a single horizontal row </p> -->
            <form class="form-inline" [formGroup]="religion">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                    formControlName="religion_name" placeholder="Religion">
                <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                <!-- <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
                </div> -->
                <div class="form-check mx-sm-2">
                    <!-- <label class="form-check-label"> -->
                    <!-- <input type="checkbox" class="form-check-input" checked> Remember me </label>  -->
                </div>
                <button type="submit" (click)="public()" class="btn btn-primary mb-2">{{  button }}</button>
            </form>
        </div>
    </div>
</div>
<!-- <div> Per Page: <select>

        <option *ngFor="let size of pageSizes" [ngValue]="size" (change)="onTableSizeChange($event)">
            {{ size }}
        </option>
    </select>
</div> -->

<div class="outline">
  <div class="commen">
    <button (click)="publishuser()" type="button" [style]="{ 'background-color': '#009788', 'color': '#FFFFFF' }"
      class="btn">
      <i class="fas fa-upload"></i> Publish
    </button>
  </div>
  <div class="commen">
    <button type="button" (click)="unpublishuser()" [style]="{ 'background-color': '#F47F16', 'color': '#FFFFFF' }"
      class="btn">
      <i class="fas fa-download"></i> Unpublish
    </button>
  </div>
  <div class="commen">
    <button (click)="deletedata()" [style]="{ 'background-color': '#FF1A0A', 'color': '#FFFFFF' }" type="button"
      class="btn">
      <i class="fas fa-trash-alt"></i> Delete
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div class="kt-portlet__head-toolbar">
          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 100vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>
                  <th style="cursor: pointer; width:5%" title="Select Member">
                    <input type="checkbox" name="" id="all" (change)="checkAll($event)">
                  </th>

                  <th style="cursor: pointer;width:1%">#SI</th>
                  <th style="cursor: pointer; width:25%">Religion</th>
                  <th style="cursor: pointer; width:25%">Created in</th>
                  <th style="cursor: pointer; width:25%">Status</th>
                  <th style="cursor: pointer; width:25%">Action</th>
                  <!-- class="fixed-column" -->
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let data of tableData | fillter:['religion_name']:filterText ; index as i">
                  <tr>
                    <td class="text-center">
                      <input type="checkbox" class="check" [value]="data?.id" (change)="getId(data?.id,$event)"
                        name="" id="">
                    </td>
                    <td>{{ i+1 }}</td>
                    <td [title]="data?.religion_name">{{ data?.religion_name }}</td>
                    <td [title]="data?.created_At">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel"> {{data?.created_At |
                        date:'medium' }} </div>
                    </td>
                    <td title="Due In 9 Days">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel" *ngIf="data.status == 0">
                        NOT PUBLISHED
                      </div>
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel" *ngIf="data.status == 1">
                        PUBLISHED
                      </div>
                    </td>
                    <td>
                      <button type="submit" (click)="update(data.id)"
                        class="btn btn-outline-primary btn-sm">Edit</button>
                      <!-- <button type="submit" (click)="deleted(data.id)"
                      class="btn btn-outline-primary btn-sm">Delete</button>
                      <button type="submit" class="btn btn-outline-primary btn-sm"
                        (click)="publish(data.id,data.status)">{{ data.status == 1
                        ?'PUBLISHED': 'UNPUBLISHED' }}</button> -->
                    </td>
                  </tr>
                </ng-container>


              </tbody>
            </table>
          </div>

        </div>

      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalDataCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
