<div class="mb-3">
  <div class="card">
    <div class="card-body">

      <h4 class="card-titleb text-muted"><button mat-flat-button color="accent" class="fw-bold">ADD
          CITY NAME</button></h4>
      <form [formGroup]="citygroup">
        <div class="mb-3">
          <p-dropdown (onChange)="getstatefilter(citygroup.value.country_name)"
            (onClear)="getstatefilter(citygroup.value.country_name)" [options]="countryalldata" [showClear]="true"
            class="mb-2" optionLabel="name" [filter]="true" placeholder="Select Country" [style]="{ width: '100%' }"
            formControlName="country_name" optionValue="name">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value">
                <div>
                  {{
                  citygroup.value.country_name || ""
                  }}
                </div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div class="country-item">
                <div>{{ data.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="mb-3">
          <p-dropdown [options]="stateOption" [showClear]="true" optionLabel="name" [filter]="true"
            placeholder="Select Country" [style]="{ width: '100%' }" formControlName="state_name" class="mb-2"
            optionValue="name">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value">
                <div>
                  {{
                  citygroup.value.state_name || ""
                  }}
                </div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div class="country-item">
                <div>{{ data.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="mb-3">
          <mat-form-field isReadonly appearance="outline" class="flex-fill w-100">
            <mat-label>City Name</mat-label>
            <input matInput placeholder="City name" formControlName="city_name" type="text" />
            <mat-error>Please Enter City Name</mat-error>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field isReadonly appearance="outline" class="flex-fill w-100">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder="latitude" formControlName="latitude" type="text" />
            <mat-error>Please Enter Longitude</mat-error>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field isReadonly appearance="outline" class="flex-fill w-100">
            <mat-label>Longitude</mat-label>
            <input matInput placeholder="Longitude" formControlName="longitude" type="text" />
            <mat-error>Please Enter Latitude</mat-error>
          </mat-form-field>
        </div>



        <button type="submit" (click)="adddata()" class="btn btn-primary mb-2">{{ button }}</button>
      </form>
    </div>
  </div>
</div>



<div class="outline">

  <div class="commen">
    <button type="button" [style]="{ 'background-color': '#009788', 'color': '#FFFFFF' }" class="btn"
      (click)="publishuser()">
      <i class="fas fa-upload"></i> Publish
    </button>
  </div>
  <div class="commen">
    <button type="button" [style]="{ 'background-color': '#F47F16', 'color': '#FFFFFF' }" class="btn"
      (click)="unpublishuser()">
      <i class="fas fa-download"></i> Unpublish
    </button>
  </div>
  <div class="commen">
    <button [style]="{ 'background-color': '#FF1A0A', 'color': '#FFFFFF' }" type="button" class="btn"
      (click)="deletedata()">
      <i class="fas fa-trash-alt"></i> Delete
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <!-- <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">My Open Cases</h3>
                </div> -->
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>

        <div class="kt-portlet__head-toolbar">
          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 100vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>

                  <th style="cursor: pointer; width:5%; text-align: center;" title="Select Member">
                    <input type="checkbox" name="" id="all" (change)="checkAll($event)">
                  </th>
                  <th>
                    #IS
                  </th>
                  <th style="cursor: pointer;width:1%" title=" Country Name ">
                    Country Name </th>
                  <th style="cursor: pointer;width:1%" title=" Country Name ">
                    State Name </th>
                  <th style="cursor: pointer;width:1%" title=" Country Name ">
                    City Name </th>
                  <th style="cursor: pointer; width:25%" title="Created At">
                    Created At </th>
                  <th style="cursor: pointer; width:25%" title="Status">
                    Status </th>
                  <th class="fixed-column" style="cursor: pointer; width:10%" title="Action">Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of tableData | fillter:['city_name','country_name','state_name']:filterText ; index as i">
                  <tr>

                    <td class="text-center">
                      <input type="checkbox" class="check" [value]="data?.id" (change)="getId(data?.id,$event)"
                        name="" id="">
                      <!-- <mat-checkbox class="check" (change)="getId(data?.Id,$event)"
                                                                  [value]="data?.user_id"></mat-checkbox> -->
                    </td>
                    <td style="cursor: pointer;width:1%">
                      {{i+1}}
                    </td>
                    <td [title]="data?.name">
                      <div> {{data?.country_name | uppercase}} </div>
                    </td>
                    <td [title]="data?.name">
                      <div> {{data?.state_name | uppercase}} </div>
                    </td>
                    <td [title]="data?.name">
                      <div> {{data?.city_name | uppercase}} </div>
                    </td>
                    <td title="Due In 9 Days ">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel">
                        {{data.created_At | date:'medium'}}
                      </div>
                    </td>
                    <td title="Ready for Professional Open">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel" *ngIf="data.status == 1">
                        PUBLISHED
                      </div>
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel" *ngIf="data.status == 0">
                        NOT PUBLISHED
                      </div>
                    </td>
                    <td class="fixed-column">
                      <!-- View Button with Outline Style -->
                      <button class="btn btn-outline-primary btn-sm me-2" title="Edit" (click)="edit(data.id)">
                        <i class="fas fa-edit"></i> Edit
                      </button>

                      <!-- Open in New Tab Button with Outline Style -->
                    </td>
                    <!-- <button class="btn btn-outline-danger btn-sm me-2" title="Delete"
                    (click)="delete(data.id,data.city_name)">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button> -->
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
