<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
            <h4 class="card-titleb text-muted text-center"><button mat-flat-button color="accent" class="fw-bold">ADD CITY NAME</button></h4>
            <form [formGroup]="citygroup">
                <div class="mb-3">
                    <p-dropdown (onChange)="getstatefilter(citygroup.value.country_name)" (onClear)="getstatefilter(citygroup.value.country_name)" [options]="countryOption" [showClear]="true" class="mb-2"
                        optionLabel="name" [filter]="true" placeholder="Select Country" [style]="{ width: '100%' }"
                        formControlName="country_name" optionValue="name">
                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value">
                                <div>
                                    {{
                                    citygroup.value.country_name || ""
                                    }}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-data pTemplate="item">
                            <div class="country-item">
                                <div>{{ data.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="mb-3">
                    <p-dropdown [options]="stateOption" [showClear]="true" optionLabel="name" [filter]="true"
                        placeholder="Select Country" [style]="{ width: '100%' }" formControlName="state_name"
                        class="mb-2" optionValue="name">
                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value">
                                <div>
                                    {{
                                    citygroup.value.state_name || ""
                                    }}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-data pTemplate="item">
                            <div class="country-item">
                                <div>{{ data.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="mb-3">
                    <mat-form-field isReadonly appearance="outline" class="flex-fill w-100">
                        <mat-label>City Name</mat-label>
                        <input matInput placeholder="City name" formControlName="city_name" type="text" />
                        <mat-error>Please Enter City Name</mat-error>
                    </mat-form-field>
                </div>

                <button type="submit" (click)="adddata()" class="btn btn-primary mb-2">{{ button }}</button>
            </form>
        </div>
    </div>
</div>

<div class="col-lg grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>#SI</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of allcitydata ; index as i">

                            <td>{{i+1}}</td>
                            <td>{{data.country_name}}</td>
                            <td>{{data.state_name}}</td>
                            <td>{{data.city_name}}</td>
                            <td>{{data.created_At | date}}</td>
                            <td>
                                <p class="badge badge-danger" *ngIf="data.status == 0">
                                    NOT PUBLISHED
                                </p>
                                <p class="badge badge-success" *ngIf="data.status == 1">PUBLISHED</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-warning btn-fw me-2" (click)="edit(data.id)">Edit</button>
                                <button type="button" class="btn btn-outline-danger btn-fw">Delete</button>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
