<div class="mb-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-titleb text-muted "><button mat-flat-button color="accent" class="fw-bold">ADD
                    COUNTRIES NAME</button></h4>
            <form class="form-inline" [formGroup]="countrygroup">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <mat-form-field isReadonly appearance="outline" class="flex-fill w-100">
                    <mat-label>Countrie name</mat-label>
                    <input matInput placeholder="Countrie name" formControlName="name" type="text" />
                    <mat-error>Please Enter Countrie Name</mat-error>
                </mat-form-field>
                <button type="submit" (click)="addCountry()"
                    class="btn btn-primary  btn-lg mb-3 w-100">{{button}}</button>
                <button type="submit" (click)="countrygroup.reset();button='ADD'"
                    class="btn btn-danger  btn-lg mb-3 w-100" [hidden]="button=='ADD'">Cancle</button>

            </form>
        </div>
    </div>
</div>
<div class="">
    <div class="table-holder">
        <div class="caption-header">
            <div class="caption-item">
                <i class="fa-solid fa-chart-simple me-2 text-primary fs-5"></i>
                <span class="fs-5">Showing {{countryalldata.length}} of {{countryalldata.length}} results</span>
            </div>
            <div class="caption-item">
                <button pButton pRipple type="button" icon="pi pi-search" label="Find" class="me-2"></button>

            </div>
        </div>
        <div class="mt-3 data-view-container">
            <table class="table ">
                <thead class="table-header">
                    <tr>
                        <th >#SI</th>
                        <th >Country Nmae</th>
                        <th >Created At</th>
                        <th >Status</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody class="table-body table-striped">
                    <ng-container *ngFor="let data of countryalldata ; index as i">
                        <tr>

                            <td>{{i+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.created_At | date}}</td>
                            <td>
                                <p class="badge badge-danger" *ngIf="data.status == 0">
                                    NOT PUBLISHED
                                </p>
                                <p class="badge badge-success" *ngIf="data.status == 1">PUBLISHED</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-warning btn-fw me-2 w-50"
                                    (click)="update(data.id)">Edit</button>
                                <button type="button" class="btn btn-outline-danger btn-fw w-50" (click)="delete(data.id,data.name)">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>