<div class="mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-titleb text-muted "><button mat-flat-button color="accent" class="fw-bold">ADD
          COUNTRIES NAME</button></h4>
      <form class="form-inline" [formGroup]="countrygroup">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <mat-form-field isReadonly appearance="outline" class="flex-fill w-100">
          <mat-label>Countrie name</mat-label>
          <input matInput placeholder="Countrie name" formControlName="name" type="text" />
          <mat-error>Please Enter Countrie Name</mat-error>
        </mat-form-field>
        <button type="submit" (click)="addCountry()" class="btn btn-primary  btn-lg mb-3 w-100">{{button}}</button>
        <button type="submit" (click)="countrygroup.reset();button='ADD'" class="btn btn-danger  btn-lg mb-3 w-100"
          [hidden]="button=='ADD'">Cancle</button>

      </form>
    </div>
  </div>
</div>

<div class="outline">
  <div class="commen">
    <button type="button" [style]="{ 'background-color': '#009788', 'color': '#FFFFFF' }" class="btn"
      (click)="publishuser()">
      <i class="fas fa-upload"></i> Publish
    </button>
  </div>
  <div class="commen">
    <button type="button" [style]="{ 'background-color': '#F47F16', 'color': '#FFFFFF' }" class="btn"
      (click)="unpublishuser()">
      <i class="fas fa-download"></i> Unpublish
    </button>
  </div>
  <div class="commen">
    <button [style]="{ 'background-color': '#FF1A0A', 'color': '#FFFFFF' }" type="button" class="btn"
      (click)="deletedata()">
      <i class="fas fa-trash-alt"></i> Delete
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <!-- <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">My Open Cases</h3>
                </div> -->
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>

        <div class="kt-portlet__head-toolbar">
          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 100vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>

                  <th style="cursor: pointer; width:5%; text-align: center;" title="Select Member">
                    <input type="checkbox" name="" id="all" (change)="checkAll($event)">
                  </th>
                  <th>
                    #IS
                  </th>
                  <th style="cursor: pointer;width:1%" title=" Country Name ">
                    Country Name </th>
                  <th style="cursor: pointer; width:25%" title="Created At">
                    Created At </th>
                  <th style="cursor: pointer; width:25%" title="Status">
                    Status </th>
                  <th class="fixed-column" style="cursor: pointer; width:10%" title="Action">Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of tableData | fillter:['name','phonecode']:filterText ; index as i">
                  <tr>

                    <td class="text-center">
                      <input type="checkbox" class="check" [value]="data?.user_id" (change)="getId(data?.Id,$event)"
                        name="" id="">
                      <!-- <mat-checkbox class="check" (change)="getId(data?.Id,$event)"
                                                                  [value]="data?.user_id"></mat-checkbox> -->
                    </td>
                    <td style="cursor: pointer;width:1%">
                      {{i+1}}
                    </td>
                    <td [title]="data?.name">
                      <div> {{data?.name | uppercase}} </div>
                    </td>
                    <td title="Due In 9 Days ">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel">
                        {{data.created_At | date:'medium'}}
                      </div>
                    </td>


                    <td title="Ready for Professional Open">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel" *ngIf="data.status == 1">
                        PUBLISHED
                      </div>
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel" *ngIf="data.status == 0">
                        NOT PUBLISHED
                      </div>

                    </td>

                    <td class="fixed-column">
                      <!-- View Button with Outline Style -->
                      <button class="btn btn-outline-primary btn-sm me-2" title="Edit" (click)="update(data.id)">
                        <i class="fas fa-edit"></i> Edit
                      </button>

                      <button class="btn btn-outline-danger btn-sm me-2" title="Delete"
                        (click)="delete(data.id,data.name)">
                        <i class="fas fa-trash-alt"></i> Delete
                      </button>



                      <!-- Open in New Tab Button with Outline Style -->


                    </td>
                  </tr>
                </ng-container>


              </tbody>
            </table>
          </div>

        </div>

      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
