<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">


<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Picture's, </h4>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">

    
</div>
<div class="modal-footer text-center" >
    <!-- <button type="button" class="upload-button w-100" (click)="uploadFile()"> Upload </button> -->
    
</div>
