<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Membership</h4>

            <form class="forms-sample" [formGroup]="memberplan" (ngSubmit)="insertdata()">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" formControlName="membership_plan_name"
                        id="exampleInputName1" placeholder="Plan Name">
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select [attr.disabled]="typechange"  class="form-select" formControlName="membership_plan_type" >
                        <option value="Select" selected>---Select---</option>
                         <option *ngFor="let data of typedata" [value]="data.name">{{ data.type_name }}</option>
                    </select>
                    <!-- <input type="text" class="form-control" formControlName="membership_plan_type" id="exampleInputName1" placeholder="Plan Type"> -->
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Amount</label>
                    <input type="text" class="form-control" formControlName="membership_plan_amount"
                        id="exampleInputName2" placeholder="Amount">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Currency</label>
                    <input type="text" class="form-control" formControlName="membership_plan_currency"
                        id="exampleInputName2" placeholder="Currency">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Discount</label>
                    <input type="number" max="100" min="1" formControlName="membership_plan_dicount"
                        class="form-control" id="exampleInputName2" placeholder="membership_plan_dicount">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Plan Validity</label>
                    <input type="text" class="form-control" formControlName="membership_plan_validity_date"
                        id="exampleInputName6" placeholder="Plan Validity">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">View Opposite Member 's Profile Count</label>
                    <input type="text" class="form-control" formControlName="membership_plan_visibility"
                        id="exampleInputName3" placeholder="View Opposite Member 's Profile Count">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Message Count</label>
                    <input type="text" class="form-control" formControlName="membership_plan_of_send_message"
                        id="exampleInputName4" placeholder="Message Count">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Chat Count</label>
                    <input type="text" class="form-control" formControlName="membership_plan_chating"
                        id="exampleInputName4" placeholder="Chat Count">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Visible Opposite Member's Photo Count</label>
                    <input type="text" formControlName="membership_plan_no_of_photo" class="form-control"
                        id="exampleInputName5" placeholder="Visible Opposite Member's Photo Count">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Visible Opposite Member's Contact Count</label>
                    <input type="text" formControlName="membership_plan_no_of_contact" class="form-control"
                        id="exampleInputName7" placeholder="Visible Opposite Member's Contact Count">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Visible Contact To Other Count</label>
                    <input type="text" formControlName="membership_plan_show_contact_number_other" class="form-control"
                        id="exampleInputName7" placeholder="Visible Contact To Other Count">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
