<div class="col-lg grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          
            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>#SI</th>
                            <th>ID</th>
                            <th>User Name</th>
                            <th>Mobile Number</th>
                            <th>Email</th>
                            <th>Whatsapp</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of useradata ; index as i">

                            <td>{{i+1}}</td>
                            <td>{{ data.user_id }}</td>
                            <td>{{ data.user_name }}</td>
                            <td>{{ data.user_phone_number }}</td>
                            <td>{{  data.user_mailid }}</td>
                            <td>{{ data.user_whatsapp_number }}</td>
                            <td>{{ data.created_At | date:'dd-MM-YYYY' }}</td>
                            <td>
                            <button  (click)="deleted(data.user_id)" type="button" class="btn btn-outline-danger btn-fw">Approve</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
