
<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div class="kt-portlet__head-toolbar">
          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 75vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>
                  <th style="cursor: pointer; width:1%">#SI</th>
                  <th style="cursor: pointer; width:25%" title="Profile ID">Id </th>
                  <th style="cursor: pointer; width:25%" title="Profile ID">Ticket No </th>
                  <th style="cursor: pointer; width:25%" title="Profile ID">Created At </th>
                  <th style="cursor: pointer; width:25%" title="Profile ID"> View </th>
                  <!-- <th style="cursor: pointer; width:25%" title="Profile ID"> Action </th> -->
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let data of tableData | fillter:['table_name']:filterText ; index as i">
                  <tr >
                    <td>{{ i+1 }}</td>
                    <td [title]="data?.user_Id">
                      <div> {{ data?.user_Id }} </div>
                    </td>
                    <td [title]="data?.ticket_no">
                      <div> {{ data?.ticket_no }} </div>
                    </td>
                    <td [title]="data?.created_At">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel"> {{ data?.created_At | date  }} </div>
                    </td>
                    <td [title]="data?.Feedback">
                      <div *ngIf="data?.new == 2" class="iconc" style="color: #f5dd0a;" (click)="show(data?.id)"> <i class="fas fa-eye"></i> View </div>
                      <div *ngIf="data?.new == 3" class="iconc" style="color: #63E6BE;" (click)="show(data?.id)"> <i class="fas fa-eye"></i> View </div>
                      <div *ngIf="data?.new == 1" class="iconc" style="color: #da2d0e;" (click)="show(data?.id)"> <i class="fas fa-eye"></i> View </div>
                    </td>
                    <!-- <td [title]="data?.Read">
                      <div *ngIf="data?.status == 1" (click)="responded(data?.id,data?.status)"> <span class="iconc"><i class="fa-solid fa-location-arrow fa-beat" style="color: #63E6BE;"></i></span> </div>
                      <div *ngIf="data?.status == 0" (click)="responded(data?.id,data?.status)"> <span class="iconc"><i class="fa-solid fa-location-arrow fa-beat" style="color: #c50909;"></i></span> </div>
                    </td> -->

                    <!-- <td>
                      {{ data?.marriage_date | date }}
                    </td> -->
                    <!-- <td>
                      <button class="btn btn-outline-primary btn-sm me-2" title="View"
                      (click)="View(data.id)">

                        <i class="fas fa-eye"></i> View
                      </button>
                    </td> -->
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalDataCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
