<div class="">
    <div class="table-holder">
        <div class="caption-header">
            <div class="caption-item">
                <i class="fa-solid fa-chart-simple me-2 text-primary fs-5"></i>
                <span class="fs-5">Showing of results</span>
                <!-- countryalldata.length {{}} -->
                <!-- {{countryalldata.length}}  -->

            </div>
            <div class="caption-item">
                <button pButton pRipple type="button" icon="pi pi-search" label="Find" class="me-2"></button>

            </div>
        </div>
        <div class="mt-3 data-view-container">
            <table class="table ">
                <thead class="table-header">
                    
                        <tr>
                            <th>#IS</th>
                            <th>Plan ID</th>
                            <th>Name</th>
                            <th>Plan Type</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Discont</th>
                            <th>Plan Validity</th>
                            <th>Message Count</th>
                            <th>Chat Count</th>
                            <th>Photo Count</th>
                            <th>Other Count</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    
                </thead>
                <tbody class="table-body table-striped">
                    <ng-container *ngFor="let data of finaldata ; index as i">
                        <tr [class]="data.membership_plan_default == 1 ? 'bg-success' : ''">
                            <td>{{ i+1 }}</td>
                            <td><a (click)="edite(data.Id)" href="javascript:void(0);">{{ data.membership_plan_id }}</a></td>
                            <td>{{ data.membership_plan_name }}</td>
                            <td>{{ data.membership_plan_type }}</td>
                            <td>{{ data.membership_plan_amount | currency:'INR' }}</td>
                            <td>{{ data.membership_plan_currency }}</td>
                            <td>{{ data.membership_plan_dicount }}</td>
                            <td>{{ data.membership_plan_validity_date }} days</td>
                            <td>{{ data.membership_plan_of_send_message }}</td>
                            <td>{{ data.membership_plan_chating }}</td>
                            <td>{{ data.membership_plan_no_of_photo }}</td>
                            <td>{{ data.membership_plan_show_contact_number_other }}</td>
                            <td>{{ data.membership_plan_created_date_time }}</td>
                           <td>

                           </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

























