<div class="">
    <div class="table-holder">
        <div class="caption-header">
            <div class="caption-item">
                <i class="fa-solid fa-chart-simple me-2 text-primary fs-5"></i>
                <span class="fs-5">Showing of results</span>
                <!-- countryalldata.length {{}} -->
                <!-- {{countryalldata.length}}  -->

            </div>
            <div class="caption-item">
                <button pButton pRipple type="button" icon="pi pi-search" label="Find" class="me-2"></button>

            </div>
        </div>
        <div class="mt-3 data-view-container">
            <table class="table ">
                <thead class="table-header">
                    <tr>

                        <th>#SI</th>
                        <th>User Name</th>

                        <th>Gender</th>


                        <th>Approval</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-body table-striped">
                    <ng-container *ngFor="let data of finaldata ; index as i">
                        <tr>

                            <td>{{i+1}}</td>
                            <td> <a (click)="userpage(data.alldata.user_id)" class="underline"
                                    href="javascript:void(0);">
                                    {{data.alldata.user_fname+' '+data.alldata.user_lname }}
                                </a> </td>

                            <td>{{data.alldata.user_gender }}</td>


                            <td>
                                <p class="badge badge-success" *ngIf="data.alldata.user_status == 'Approved'">Approved
                                </p>
                                <p class="badge badge-danger" *ngIf="data.alldata.user_status == 'Pending'">Pending</p>
                            </td>

                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" (click)="makeMemberAsPaid(data.alldata)"
                                    class="btn btn-primary" >
                                    Approve As Paid
                                </button>

                           

                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>