<div class="container" style="margin-top: 4rem;">
  <h2 class="mt-4">Current Plan Details</h2>
  <div class="mt-4">
    <ng-container *ngFor="let details of plan">
      <ng-container *ngIf="details.active_status == 1">
        <button mat-raised-button color="accent" class="w-100"><strong>Subscription Expires :</strong> {{
          details?.plan_ending_date | date:'medium' ||"NA" }}</button>
      </ng-container>
    </ng-container>
    <table class="table">
      <thead>
        <tr>
          <th><i class="fas fa-user"></i> Profile View</th>
          <th><i class="fas fa-camera"></i> Photo View</th>
          <th><i class="fas fa-eye"></i> Contact View</th>
          <th><i class="fas fa-user-friends"></i> Contact View Other</th>
          <th><i class="fas fa-globe"></i> Horscope</th>
          <th><i class="fas fa-envelope"></i> Send Message</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="text-success fw-bold">{{ planRemaingFeature?.profile_viwe ||0 }}</td>
          <td class="text-success fw-bold">{{ planRemaingFeature?.photoviwe ||0 }}</td>
          <td class="text-success fw-bold">{{ planRemaingFeature?.contact_view ||0 }}</td>
          <td class="text-success fw-bold">{{ planRemaingFeature?.contact_view_other ||0 }}</td>
          <td class="text-success fw-bold">{{ planRemaingFeature?.horscope ||0 }}</td>
          <td class="text-success fw-bold">{{ planRemaingFeature?.sendmessage ||0 }}</td>

        </tr>
      </tbody>
    </table>
  </div>
  <h2>Plan History</h2>
  <table id="planHistory">
    <thead>
      <tr>
        <th><i class="fas fa-book"></i> Plan Name</th>
        <th><i class="fas fa-calendar-alt"></i> Start Date</th>
        <th><i class="fas fa-calendar-alt"></i> End Date</th>
        <th><i class="fas fa-check-circle"></i> Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="plan && plan?.length>0">
        <tr *ngFor="let item of plan">
          <td>{{item.user_plan_type}} Plan</td>
          <td>{{item.plan_stating_date |date:'medium'}}</td>
          <td>{{item.plan_ending_date |date:'medium'}}</td>
          <td>{{item.active_status?'Active':"Inactive"}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="plan && plan?.length==0">
        <tr class="p-3">No Data Availble</tr>
      </ng-container>


      <!-- Add more history rows as needed -->
    </tbody>
  </table>
  <h2 class="mt-4">Plan Left</h2>
  <div class="mt-4">

    <div style="overflow-x: auto; max-width: 100%;">
      <table class="table">
        <thead>
          <tr>
            <th><i class="fas fa-user"></i> Profile View</th>
            <th><i class="fas fa-camera"></i> Photo View</th>
            <th><i class="fas fa-eye"></i> Contact View</th>
            <th><i class="fas fa-user-friends"></i> Contact View Other</th>
            <th><i class="fas fa-globe"></i> Horscope</th>
            <th><i class="fas fa-envelope"></i> Send Message</th>
            <th><i class="fas fa-envelope"></i> Status</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let details of editedplandetails">
            <tr>
              <td class="text-success fw-bold">{{ details?.profile_viwe ||0 }}</td>
              <td class="text-success fw-bold">{{ details?.photoviwe ||0 }}</td>
              <td class="text-success fw-bold">{{ details?.contact_view ||0 }}</td>
              <td class="text-success fw-bold">{{ details?.contact_view_other ||0 }}</td>
              <td class="text-success fw-bold">{{ details?.horscope ||0 }}</td>
              <td class="text-success fw-bold">{{ details?.sendmessage ||0 }}</td>
              <td class="text-success fw-bold">{{ details?.plan_deatils ||'' }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
