<div class="col-lg grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          
            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>#SI</th>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of profilephotodata ; index as i">

                            <td>{{i+1}}</td>
                            <td><a href="javascript:void(0);" (click)="usershow(data.user_ID)" >{{data.user_ID}}</a></td>
                            <td>
                                <img [src]="imageurl+data.user_feature_images" class="imageshow" alt="">
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-warning btn-fw "
                                    (click)="update(data.user_ID,data.user_feature_images)">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>