<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Highest Education</h4>
            <!-- <p class="card-description"> Use the <code>.form-inline</code> class to display a series of labels, form
                controls, and buttons on a single horizontal row </p> -->
            <form class="form-inline" [formGroup]="highesteducation">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                    formControlName="highest_education_name" placeholder="Highest Education">
                <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                <!-- <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
                </div> -->
                <div class="form-check mx-sm-2">
                    <!-- <label class="form-check-label"> -->
                    <!-- <input type="checkbox" class="form-check-input" checked> Remember me </label>  -->
                </div>
                <button type="submit" (click)="public()" class="btn btn-primary mb-2">{{ button }}</button>
            </form>
        </div>
    </div>
</div>
<!-- <div> Per Page: <select>

        <option *ngFor="let size of pageSizes" [ngValue]="size" (change)="onTableSizeChange($event)">
            {{ size }}
        </option>
    </select>
</div> -->
<div class="">
    <div class="table-holder">
        <div class="caption-header">
            <div class="caption-item">
                <i class="fa-solid fa-chart-simple me-2 text-primary fs-5"></i>
                <span class="fs-5">Showing {{tabledata.length}} of {{tabledata.length}} results</span>
            </div>
            <div class="caption-item">
                <button pButton pRipple type="button" icon="pi pi-search" label="Find" class="me-2"></button>

            </div>
        </div>
        <div class="mt-3 data-view-container">
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <!-- <th>
                            <input type="checkbox" class="">
                        </th> -->
                        <th>#SI</th>
                        <th>Highest Education</th>
                        <th>Created in</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-body table-striped">
                    <tr *ngFor="let countryalldatahtml of tabledata ; index as i">
                        <!-- <th>
                            <input type="checkbox" class="">
                        </th> -->
                        <td>{{i+1}}</td>
                        <td>{{countryalldatahtml.highest_education_name}}</td>
                        <td>{{ countryalldatahtml.highest_education_date_time}}</td>
                        <td>
                            <p class="badge badge-danger" *ngIf="countryalldatahtml.status == 0">
                                NOT PUBLISHED
                            </p>
                            <p class="badge badge-success" *ngIf="countryalldatahtml.status == 1">PUBLISHED</p>
                        </td>
                        <td>
                            <button type="submit" (click)="update(countryalldatahtml.id)"
                            class="btn btn-outline-warning btn-fw me-2 w-10">Edit</button>
                            <button type="submit" (click)="deleted(countryalldatahtml.id)"
                            class="btn btn-outline-danger btn-fw w-10">Delete</button>
                            <button type="submit"
                            class="btn btn-outline-danger btn-fw w-10" (click)="publish(countryalldatahtml.id,countryalldatahtml.status)" >{{ countryalldatahtml.status == 1 ?'PUBLISHED': 'UNPUBLISHED' }}</button>
                        </td>
                            <!-- <input type="button" value="Edit" (click)="update(countryalldatahtml.id)"> -->
                        <!-- </td> -->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>