
<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>

        <div class="kt-portlet__head-toolbar">


          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 100vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>
                  <th style="cursor: pointer;width:10%">#SI</th>
                  <th style="cursor: pointer; width:25%">User Name</th>
                  <th style="cursor: pointer; width:25%">Gender</th>
                  <th style="cursor: pointer; width:25%">Mobile no</th>
                  <th style="cursor: pointer; width:25%">Action</th>
                  <!-- class="fixed-column" -->
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let data of tableData | fillter:['user_fname','user_id','user_email','auth_phone_no']:filterText ; index as i">
                  <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{data?.user_fname+' '+data?.user_lname }}</td>
                    <td>{{data.user_gender }}</td>
                    <td><a (click)="userpage(data?.user_id)" class="underline" href="javascript:void(0);">
                        {{data?.user_id }}
                      </a></td>
                    <td>
                      <input type="button"  class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel" value="Match making"
                        (click)="matchmaking(data.user_id,data.user_gender)">
                    </td>
                  </tr>
                </ng-container>


              </tbody>
            </table>
          </div>

        </div>

      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalDataCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
