// /* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";


.btn.btn-label-danger {
  background-color: rgba(253, 57, 122, 0.1);
  color: #fd397a;
  cursor: text !important;
}
.btn.btn-label-success {
  background-color: rgba(10, 187, 135, 0.1);
  color: #0abb87;
  cursor: text !important;
}

.table-holder {
  // border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
  .table-caption-holder {
    padding: 7px;
    // border-bottom: 2px solid #c1c3c5;
    align-items: center;

    display: flex;
    justify-content: space-between;
  }
  .table-content-holder {
    overflow-x: scroll;
    padding-left: 8px;
    padding-right: 8px;

    table {
      th {

        vertical-align: middle;
        background: #dcdcff;
        line-height: 2rem;
        // .table-scroll th {
          position: sticky;
          top: 0;
          // background: #fff;
          -webkit-position: -webkit-sticky;
          box-shadow: 0 0 1px #ebedf2;
          z-index: 9;
        // }
      }
      th:last-child {
        position: sticky;
        z-index: 9;
      }
      td:last-child{
        background-color: #fff;
      }

      .fixed-column {
        position: sticky;
        right: 0; /* Stick it to the right side */
      }

      td {
        div {
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
        }
        // span {
        //     // max-width: 0;
        //     // overflow: hidden;
        //     // text-overflow: ellipsis;
        //     // white-space: nowrap;
        //     // padding: 0.75em;
        //     // text-align: left;
        //   }
      }

    }
  }
  .table-footer-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // text-align: center;
    padding: 5px;
  }
}
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Light black with some transparency */
}
.custom-backdrop-border{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}









// .table{
//   width: 100%;
// }
// .table-holder {
//   // background: #1b2124;
//   // color: #fff;
//   border-radius: 5px;
//   // .caption-header {

//   //   // box-shadow: 0.063rem 0 1.25rem 0 #c1c3c5;
//   //   padding: 7px;
//   //   padding-bottom: 7px;
//   //   border-bottom: 2px solid #c1c3c5;
//   //   align-items: center;
//   //   display: flex;
//   //   justify-content: space-between;
//   // }
//   .caption-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-wrap: wrap; /* Allow items to wrap onto the next line on smaller screens */
//   }

//   /* Responsive styles */
//   @media (max-width: 768px) {
//     .caption-header {
//       flex-direction: column; /* Stack items vertically on smaller screens */
//       align-items: stretch;
//     }

//     .caption-item {
//       width: 100%; /* Make each item take full width on smaller screens */
//     }
//   }
//   .table-header {
//     background: #5d78ff;
//     th {
//       padding: 14px 14px;
//       color: #fff;
//       font-weight: 500;
//     }
//   }

//   .table-body {

//     padding: 5px;


//     td {

//       // color: #fff;
//       padding: 14px 14px;
//       font-weight: 400;
//     }
//   }
// }

// .data-view-container {
//   max-height: 80vh;
//   overflow: scroll;
// }
// .data-view-container::-webkit-scrollbar {
//   display: none;
//   /* for Chrome, Safari, and Opera */
// }
// ::-webkit-scrollbar {
//   width: 10px;
// }

/* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px aliceblue;
//     border-radius: 5px;

// }
// ::-webkit-scrollbar{
//   display: none;
// }
/* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #d10000;
//   //   border-radius: 5px;
// }

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #d10000;
// }


.search {
  --background: #ffffff;
  --text-color: #414856;
  --primary-color: #4F29F0;
  --border-radius: 10px;
  --width: 350px;
  --height: 55px;
  background: var(--background);
  width: auto;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(#414856, .05);
  display: flex;
  justify-content: center;
  align-items: center;
  input[type="text"] {
    position: relative;
    width: var(--height);
    height: var(--height);
    font: 400 16px 'Varela Round', sans-serif;
    color: var(--text-color);
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0 0 0 40px;
    transition: width .6s ease;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
    &:focus {
      z-index: 0;
      opacity: 1;
      width: var(--width);
      ~ .symbol {
        &::before {
          width: 0%;
        }
        &:after {
          clip-path: inset(0% 0% 0% 100%);
          transition: clip-path .04s linear .105s;
        }
        .cloud {
          top: -30px;
          left: -30px;
          transform: translate(0, 0);
          transition: all .6s ease;
        }
        .lens {
          top: 20px;
          left: 15px;
          transform: translate(0, 0);
          fill: var(--primary-color);
          transition: top .5s ease .1s, left .5s ease .1s, fill .3s ease;
        }
      }
    }
  }
  .symbol {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content:"";
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      background: var(--primary-color);
      z-index: -1;
      transition: width .6s ease;
    }
    &:after {
      content:"";
      position: absolute;
      top: 21px;
      left: 21px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--primary-color);
      z-index: 1;
      clip-path: inset(0% 0% 0% 0%);
      transition: clip-path .04s linear .225s;
    }
    .cloud,
    .lens {
      position: absolute;
      fill: #fff;
      stroke: none;
      top: 50%;
      left: 50%;
    }
    .cloud {
      width: 35px;
      height: 32px;
      transform: translate(-50%, -60%);
      transition: all .6s ease;
    }
    .lens {
      fill: #fff;
      width: 16px;
      height: 16px;
      z-index: 2;
      top: 24px;
      left: 24px;
      transition: top .3s ease, left .3s ease, fill .2s ease .2s;
    }
  }
}

.outline {
  display: flex;
  justify-content: right;
}
.commen {
  cursor: pointer;
  margin: 9px;
}
.scroll {
  //overflow-y: scroll;
  overflow-x: scroll;
}


// Table View Css Strat Here

