// /* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// .body{
//     background-color: #000000;
// }

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px aliceblue;
//   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d10000;
//   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d10000;
}