

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Facebook Link</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="fb" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Twiter Link</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="tw" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Whats app no</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="wh" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Youtube Link</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="yo" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Linkedin Link</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="li" rows="4"></textarea>
    </div>

    <button type="button" (click)="socialMediaSubmit()" class="btn btn-primary">Sumbit</button>
