<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Social Media Links</h4>
            <!-- <p class="card-description"> Basic form elements </p> -->
            <form [formGroup]="socialMediaForm">
                <div class="form-group">
                    <label >Facebook Link <i class="fa-brands fa-facebook" style="color: #0b61f4;"></i></label>
                    <input type="text" class="form-control" formControlName="fb" placeholder="Facebook Link">
                </div>
                <div class="form-group">
                    <label >Twitter Link <i class="fa-brands fa-twitter" style="color: #0b61f4;"></i></label>
                    <input type="text" class="form-control" formControlName="tw"  placeholder="Twitter Link">
                </div>
                <div class="form-group">
                    <label >Whatsapp <i class="fa-brands fa-whatsapp" style="color: #4bb823;"></i></label>
                    <input type="text" class="form-control" formControlName="wh" placeholder="Whatsapp No">
                </div>
                <div class="form-group">
                    <label >Youtube Link <i class="fa-brands fa-youtube" style="color: #f50a0a;"></i></label>
                    <input type="text" class="form-control" formControlName="yo" placeholder="Youtube Link">

                </div>
               
                <div class="form-group">
                    <label >Linkedin Link <i class="fa-brands fa-linkedin" style="color: #0b61f4;"></i></label>
                    <input type="text" class="form-control"  formControlName="li" placeholder="Linkdin Link">
                </div>
                <div class="form-group">
                    <label >Application Link <i class="fa-brands fa-linkedin" style="color: #0b61f4;"></i></label>
                    <input type="text" class="form-control"  formControlName="ai" placeholder="Linkdin Link">
                </div>
              
                <button type="button" class="btn btn-primary btn-md mr-2 p-2" (click)="socialMediaSubmit()">Update</button>
                <button class="btn btn-danger btn-md p-2">Cancel</button>
            </form>
        </div>
    </div>
</div>

