<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                <h4 class="card-title mb-3">About Us</h4>
                <button type="submit" (click)="public()" class="btn btn-outline-danger btn-lg mb-3 w-100">Public</button>

            <form class="forms-sample" [formGroup]="privacypalicy">
                <div class="form-group">
                    <p-editor formControlName="privacy_policy_content"  [style]="{ height: '620px' }"></p-editor>
                </div>
            </form>
        </div>
    </div>
</div>



