<div class="d-flex flex-wrap justify-content-between pb-3">
    <button type="button" [class]="class1" (click)="loadDATA('getAllData')">All Data</button>
    <button type="button" [class]="class2" (click)="loadDATA('getAllOnlineData')">Online</button>
    <button type="button" [class]="class3" (click)="loadDATA('getAllPublishedData')">Published</button>
    <button type="button" [class]="class4" (click)="loadDATA('getAllUnpublishedData')">Un Published</button>
    <button type="button" [class]="class5" (click)="loadDATA('getAllDeletedData')">Deleted</button>
    <button type="button" [class]="class6" (click)="loadDATA('getAllNotDeletedData')">Not Deleted</button>
    <button type="button" [class]="class7" (click)="loadDATA('getAllApprovedData')">Approve</button>
    <button type="button" [class]="class8" (click)="loadDATA('getAllPendingData')">Pending</button>
    <button type="button" [class]="class9" (click)="loadDATA('getAllvaliduserData')">Valid user</button>
</div>

<div class="outline">
    <div class="commen">
        <i title="DELETE" (click)="deletedata()" class="material-icons text-danger pointer">delete_outline</i>
    </div>
    <div class="commen">
        <i title="RECOVER" (click)="recoverdata()" class="material-icons text-success pointer">delete_outline</i>
    </div>
    <div class="commen">
        <i title="PUBLISH" (click)="publishuser()"
            class="material-icons pointer text-success">published_with_changes</i>
    </div>
    <div class="commen">
        <i title="UNPUBLISH" (click)=" unpublishuser()" class="material-icons text-danger pointer">unpublished</i>
    </div>
    <div class="commen">
        <i title="Online" class="material-icons pointer text-success" (click)="makeonline()">done</i>
    </div>
    <div class="commen">
        <i title="Offline" class="material-icons text-danger pointer" (click)="makeoffline()">close</i>
    </div>
</div>
<div class="scroll">
    <div class="table-holder">
        <div class="caption-header">
            <div class="caption-item">
                <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="true" (clickSearch)="search($event)" (clickFillter)="fillter($event)" ></app-search>
            </div>
            <div class="caption-item mt-3" *ngIf="pegination_required">

                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="false" class="" size="lg" (pageChange)="onpageChnage()"></ngb-pagination>
            </div>
            <!-- <div class="caption-item">
                <i class="fa-solid fa-chart-simple me-2 text-primary fs-5"></i>
                <span class="fs-5">Showing {{finaldata?.length}} of {{finaldata?.length}} results</span>
            </div> -->


        </div>

        <div class="mt-3 data-view-container">
            <table class="table ">
                <thead class="table-header">
                    <tr>
                        <th>
                            <input type="checkbox" class="checkAll" id="all" (change)="checkAll($event)">
                        </th>
                        <th class="width"></th>
                        <th>#SI</th>
                        <th>User Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Id</th>
                        <th>Created At</th>
                        <th>status</th>
                        <th>Approval</th>
                        <th>Delete Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-body table-striped">
                    <ng-container
                        *ngFor="let data of finaldata | fillter:['user_fname','user_id','user_email','auth_phone_no']:filterText ; index as i">
                        <tr>
                            <td>
                                <input type="checkbox" class="check" (change)="getId(data?.Id,$event)"
                                    [value]="data?.user_id">
                            </td>
                            <td class="width align-items-center">
                                <!-- <p title="Online" class="badge badge-success" *ngIf="data.online_status == 1">
                                    <span></span>
                                </p> -->
                                <p  title="Online" *ngIf="data.online_status == 1" class="text-center"><i class="pi pi-verified" style="color: green"></i></p>
                                <!-- <p title="Offline" class="badge badge-danger" *ngIf="data.online_status == 0">
                                    <span></span>
                                </p> -->
                                <p  title="Offline" *ngIf="data.online_status == 0" class="text-center"><i class="pi pi-verified" style="color: green"></i></p>
                            </td>
                            <td>{{i+1}}</td>
                            <td> <a (click)="userpage(data?.user_id)" class="underline" href="javascript:void(0);">
                                    {{data?.user_fname+' '+data?.user_lname }}
                                </a> </td>
                            <td>{{data.user_dob | age}}</td>
                            <td>{{data.user_gender }}</td>
                            <td>{{data.user_id }}</td>
                            <td>{{data.user_creation_date_time | date}}</td>
                            <td>
                                <p class="badge badge-success" *ngIf="data.status == 1">Publish</p>
                                <p class="badge badge-danger" *ngIf="data.status == 0">Unpublish</p>
                            </td>
                            <td>
                                <p class="badge badge-success" *ngIf="data.user_status == 'Approved'">Approved
                                </p>
                                <p class="badge badge-danger" *ngIf="data.user_status == 'Pending'">Pending</p>
                            </td>
                            <td>
                                <p class="badge badge-success" *ngIf="data.deleted == 1">Not Deleted</p>
                                <p class="badge badge-danger" *ngIf="data.deleted == 0">Deleted</p>
                            </td>
                            <td>
                              <button type="button" (click)="viwePlan(data?.user_id)"
                              class="btn btn-outline-danger btn-fw w-50">View Plan</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
