.width{
    width: 5px;
}
.pointer{
    cursor: pointer;
}
.underline{
    text-decoration: none;
}
.pading{
    padding: 10px;
}
.active{
    color: black;
    background-color: rgb(255, 255, 255);
}
.outline{
    display: flex;
    justify-content: right;
}
.commen{
    cursor: pointer;
    margin: 9px;
}
.scroll{
  //overflow-y: scroll;
  overflow-x: scroll;
}




