

<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>

        <div class="kt-portlet__head-toolbar">


          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 75vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>

                <tr>
                  <th style="cursor: pointer;width:1%">#SI</th>
                  <th style="cursor: pointer;width:10%">User Name</th>
                  <th style="cursor: pointer;width:10%">Age</th>
                  <th style="cursor: pointer;width:5%">Gender</th>
                  <th style="cursor: pointer;width:10%">Mobile no</th>
                  <th style="cursor: pointer;width:10%">Password</th>
                  <th style="cursor: pointer;width:10%">Created At</th>
                  <th style="cursor: pointer;width:10%">Action</th>
                </tr>

                <!-- <th style="cursor: pointer;width:10%" title="Member Name">
                                      Member Name </th>
                                  <th style="cursor: pointer; width:25%" title="Profile ID">
                                      Profile ID </th>
                                  <th style="cursor: pointer; width:25%" title="Created At">
                                      Created At
                                  </th>
                                  <th style="cursor: pointer;" title="Age"> Age </th>
                                  <th style="cursor: pointer;" title="Gender"> Gender </th>
                                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> Profile Status
                                  </th>
                                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> Delete Status
                                  </th>
                                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> User Privacy States
                                  </th>
                                  <th style="cursor: pointer; width: 145px;" title="Profile Status"> Complit Status
                                  </th>
                                  <th style="cursor: pointer; width:10%" title="Action">Action
                                  </th> -->
                <!-- class="fixed-column" -->
                <!-- </tr> -->
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let data of tableData | fillter:['user_fname','user_id','user_gender','user_email','auth_phone_no']:filterText ; index as i">
                  <tr>
                    <td>
                      {{i+1}}
                    </td>
                    <td [title]="data?.user_fname+' '+data?.user_lname"> {{data?.user_fname+'
                      '+data?.user_lname }}</td>
                    <td [title]="data.user_dob | age">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-success dueLabel">
                        {{data.user_dob | age}} Years
                      </div>
                    </td>
                    <td [title]="data.user_gender">
                      {{data.user_gender |uppercase}}
                    </td>

                    <td >
                      {{data.auth_phone_no }}
                    </td>
                    <td >
                      {{data.password_created_by_admin }}
                    </td>


                    <td title="Due In 9 Days ">
                      <div class="btn btn-bold btn-sm btn-font-sm btn-label-danger dueLabel">
                        {{data.user_creation_date_time | date:'medium'}}
                      </div>
                    </td>



                    <td>
                      <!-- class="fixed-column" -->
                      <!-- View Button with Outline Style -->
                      <button class="btn btn-outline-primary btn-sm me-2" title="View"
                        (click)="userpage(data?.user_id ,data?.user_fname,data?.user_lname)">
                        <i class="fas fa-eye"></i> View
                      </button>
                    </td>
                  </tr>
                </ng-container>


              </tbody>
            </table>
          </div>

        </div>

      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalDataCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
