// .navbar-toggler {
//   outline: none !important;
//   border: none !important;
// }

// .btn:focus {
//   outline: none !important;
// }
// .navbar{
//     // left: 244px !important;
//     box-shadow: rgba(100, 100, 111, 0.2) 13px 10px 29px 0px
// }

// .fixed-top{
//     left: 244px;
// }

// .search-area {
// //   margin-bottom: 10px;
// }

.search-area input {
  width: 100%;
  max-width: 350px;
  padding: 7px;
//   border: 1px solid #ccc;
  border:none;
  border-radius: 12px;
  color: red;
  font-weight: 700;
  box-shadow: rgba(100, 100, 111, 0.2) 13px 10px 29px 0px
}

.search-results {
  //   border: 1px solid #ccc;
  border-radius: 12px;
  max-height: 300px;
  overflow-y: auto;
}

.search-results div {
  padding: 10px;
  //   border-bottom: 1px solid #eee;
}

.search-results div:last-child {
  border-bottom: none;
}

.highlight {
  background-color: yellow;
}


.search-container {
  position: relative;
  width: 100%;
}

// .search-area {
//   margin-bottom: 10px;
// }

// .search-area input {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
// }

.search-results {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 300px;
  max-width: 350px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000; /* Ensure it's above other elements */


}

.search-results :hover {
  // padding: 10px;
  // border-bottom: 1px solid #eee;
  background-color: #eee;
}

// .search-results div:last-child {
//   border-bottom: none;
// }

// .highlight {
//   background-color: yellow;
// }
