<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Enter Type</h4>
      <form class="form-inline" [formGroup]="type">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" formControlName="type_name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
          placeholder="enter type">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="form-check mx-sm-2">
        </div>
        <button type="submit" (click)="addtype()" class="btn btn-primary mb-2">{{ button }}</button>
      </form>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xl-12 order-lg-1 order-xl-1">
    <div class="table-holder kt-portlet kt-portlet--height-fluid  ">
      <div class="table-caption-holder">
        <div class="dropdown-container">
          <select id="dropdown" (change)="changepaginetdata($event)">
            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
          </select>
        </div>

        <div class="kt-portlet__head-toolbar">


          <app-search (getSerachText)="getSearchText($event)" [search_btn]="true" [fillter_btn]="false"
            (clickSearch)="search($event)" (clickFillter)="fillter($event)"></app-search>
        </div>
      </div>
      <div class="table-content-holder kt-portlet__body kt-portlet__body--fit ps ps--active-y" id="grid_scroll_body"
        style="max-height: 75vh; position: relative;">
        <div class="inbox-body inbox-body-table">
          <div class="table-scroll">
            <table class="custom-table table  table-bordered table-striped">
              <thead class="flip-content">
                <tr>
                  <th style="cursor: pointer;width:1%">#SI</th>
                  <th style="cursor: pointer;width:25%">Name</th>
                  <th style="cursor: pointer;width:25%">Value</th>
                  <th style="cursor: pointer;width:25%">Used</th>
                  <th style="cursor: pointer;width:25%">Deleted</th>
                  <th style="cursor: pointer;width:25%">Action</th>

                </tr>
              </thead>
              <tbody class="table-body table-striped">
                <tr *ngFor="let countryalldatahtml of finaldata | fillter:['type_name'] :filterText; index as i">
                    <td>{{i+1}}</td>
                    <td>{{ countryalldatahtml.type_name }}</td>
                    <td>{{ countryalldatahtml.name }}</td>
                    <td>
                        <p class="badge badge-danger" *ngIf="countryalldatahtml.used == 0">
                            NOT USED
                        </p>
                        <p class="badge badge-success" *ngIf="countryalldatahtml.used == 1">USED</p>
                    </td>
                    <td>
                        <p class="badge badge-danger" *ngIf="countryalldatahtml.deleted == 0">
                            DELETED
                        </p>
                        <p class="badge badge-success" *ngIf="countryalldatahtml.deleted == 1">
                            PRESENT
                        </p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning btn-fw me-2 w-50"
                        (click)="edit(countryalldatahtml.id)">Edit</button>
                    </td>
                </tr>
            </tbody>
            </table>
          </div>

        </div>

      </div>
      <div class="table-footer-holder">
        <div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="10" [rotate]="false"
            [ellipses]="false" [boundaryLinks]="false" class="" (pageChange)="onpageChnage()"></ngb-pagination>
        </div>
        <div>
          <span style="white-space: nowrap; padding-right: 20px;font-weight: bold;">Showing Record's
            {{offset}} to {{totalFetchrecord}} of
            {{totalDataCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
